flows.json
[
    {
        "id": "15d3e5a76bd3789a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae9c75194fbd0443",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22255063101d024b",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b23f515c02e6c29",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7183c253cce351b",
        "type": "inject",
        "z": "15d3e5a76bd3789a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "ec40593c2a134f97"
            ]
        ]
    },
    {
        "id": "b2e5460982312bde",
        "type": "debug",
        "z": "15d3e5a76bd3789a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "ec40593c2a134f97",
        "type": "function",
        "z": "15d3e5a76bd3789a",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "b2e5460982312bde"
            ]
        ]
    },
    {
        "id": "a40d89be782603c6",
        "type": "inject",
        "z": "ae9c75194fbd0443",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "eb93650c52cd7797",
                "ff895088cf4e35dc",
                "9eaffbad801c8084",
                "c12dfd48ab611710"
            ]
        ]
    },
    {
        "id": "11c853bcba498c66",
        "type": "debug",
        "z": "ae9c75194fbd0443",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "eb93650c52cd7797",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "11c853bcba498c66",
                "8209ac2784324d1d"
            ]
        ]
    },
    {
        "id": "8209ac2784324d1d",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "11c853bcba498c66"
            ]
        ]
    },
    {
        "id": "ff895088cf4e35dc",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "11c853bcba498c66"
            ]
        ]
    },
    {
        "id": "9eaffbad801c8084",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "11c853bcba498c66"
            ]
        ]
    },
    {
        "id": "255c72980961ee11",
        "type": "inject",
        "z": "ae9c75194fbd0443",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "5a1e4633018673d7",
                "fc5c945f6eba9ede",
                "8ce070e0fdb8087b"
            ]
        ]
    },
    {
        "id": "eecd6a1e96aed9fa",
        "type": "debug",
        "z": "ae9c75194fbd0443",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 740,
        "wires": []
    },
    {
        "id": "5a1e4633018673d7",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 720,
        "wires": [
            [
                "eecd6a1e96aed9fa",
                "2f243ec29dba7191",
                "1423a6298728f894"
            ]
        ]
    },
    {
        "id": "2f243ec29dba7191",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 820,
        "wires": [
            [
                "eecd6a1e96aed9fa"
            ]
        ]
    },
    {
        "id": "fc5c945f6eba9ede",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 8",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 940,
        "wires": [
            [
                "eecd6a1e96aed9fa"
            ]
        ]
    },
    {
        "id": "8ce070e0fdb8087b",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 9",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "eecd6a1e96aed9fa"
            ]
        ]
    },
    {
        "id": "7283a821d169a05a",
        "type": "inject",
        "z": "ae9c75194fbd0443",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1120,
        "wires": [
            [
                "a6e808d7f2416770",
                "602ff135a263dd80",
                "32eb021cd9f9c1d7"
            ]
        ]
    },
    {
        "id": "96023c8748a5b154",
        "type": "debug",
        "z": "ae9c75194fbd0443",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a6e808d7f2416770",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 10",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1140,
        "wires": [
            [
                "96023c8748a5b154",
                "c3ab0727a9925b5c"
            ]
        ]
    },
    {
        "id": "c3ab0727a9925b5c",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 11",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "96023c8748a5b154"
            ]
        ]
    },
    {
        "id": "602ff135a263dd80",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 12",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1360,
        "wires": [
            [
                "96023c8748a5b154"
            ]
        ]
    },
    {
        "id": "32eb021cd9f9c1d7",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 13",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1460,
        "wires": [
            [
                "96023c8748a5b154"
            ]
        ]
    },
    {
        "id": "d4f6e763334fbe60",
        "type": "inject",
        "z": "ae9c75194fbd0443",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "509ee4d55bee04c2",
                "f6a99eb559883eb2",
                "ff43528662ab5f58",
                "9508668c462aebde"
            ]
        ]
    },
    {
        "id": "dc015d0d6e12c10c",
        "type": "debug",
        "z": "ae9c75194fbd0443",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1620,
        "wires": []
    },
    {
        "id": "509ee4d55bee04c2",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 14",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1600,
        "wires": [
            [
                "dc015d0d6e12c10c",
                "3e87741a32d7fdf7"
            ]
        ]
    },
    {
        "id": "3e87741a32d7fdf7",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 15",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1700,
        "wires": [
            [
                "dc015d0d6e12c10c"
            ]
        ]
    },
    {
        "id": "f6a99eb559883eb2",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 16",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1820,
        "wires": [
            [
                "dc015d0d6e12c10c"
            ]
        ]
    },
    {
        "id": "ff43528662ab5f58",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 17",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1920,
        "wires": [
            [
                "dc015d0d6e12c10c"
            ]
        ]
    },
    {
        "id": "1423a6298728f894",
        "type": "debug",
        "z": "ae9c75194fbd0443",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "c12dfd48ab611710",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 18",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "11c853bcba498c66"
            ]
        ]
    },
    {
        "id": "9508668c462aebde",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 19",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2020,
        "wires": [
            [
                "dc015d0d6e12c10c"
            ]
        ]
    },
    {
        "id": "65e6393d0ce71906",
        "type": "function",
        "z": "ae9c75194fbd0443",
        "name": "function 20",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2100,
        "wires": [
            [
                "c52d5f18fc0b2cf0"
            ]
        ]
    },
    {
        "id": "337cc712d40d96ad",
        "type": "inject",
        "z": "ae9c75194fbd0443",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 2100,
        "wires": [
            [
                "65e6393d0ce71906"
            ]
        ]
    },
    {
        "id": "c52d5f18fc0b2cf0",
        "type": "debug",
        "z": "ae9c75194fbd0443",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 2100,
        "wires": []
    },
    {
        "id": "54f6d5d7e3ddba8a",
        "type": "inject",
        "z": "22255063101d024b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "cd82ca78097417b8"
            ]
        ]
    },
    {
        "id": "cd82ca78097417b8",
        "type": "debug",
        "z": "22255063101d024b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "c419fc32ca2aaf52",
        "type": "inject",
        "z": "22255063101d024b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "13b37f29fd76ef72"
            ]
        ]
    },
    {
        "id": "13b37f29fd76ef72",
        "type": "debug",
        "z": "22255063101d024b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "ad2a1c87bb10bd1e",
        "type": "inject",
        "z": "9b23f515c02e6c29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "1ea304a2d5bb4227"
            ]
        ]
    },
    {
        "id": "1ea304a2d5bb4227",
        "type": "debug",
        "z": "9b23f515c02e6c29",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "1e0dbf9addfb4521",
        "type": "comment",
        "z": "9b23f515c02e6c29",
        "name": "",
        "info": "",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "e7e42fc1278d35e4",
        "type": "inject",
        "z": "9b23f515c02e6c29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "8d93f11f268bed7b"
            ]
        ]
    },
    {
        "id": "8d93f11f268bed7b",
        "type": "debug",
        "z": "9b23f515c02e6c29",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "11c1d1477fa6d51d",
        "type": "inject",
        "z": "9b23f515c02e6c29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "5f98cf36c72c373b"
            ]
        ]
    },
    {
        "id": "5f98cf36c72c373b",
        "type": "debug",
        "z": "9b23f515c02e6c29",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "7793ed925fc5b820",
        "type": "inject",
        "z": "9b23f515c02e6c29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 800,
        "wires": [
            [
                "68f88c5c19404ed1"
            ]
        ]
    },
    {
        "id": "68f88c5c19404ed1",
        "type": "debug",
        "z": "9b23f515c02e6c29",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 840,
        "wires": []
    }
]